# IS 4487 Lab 3

## Outline

Repeat exercises from Lab 2, but with the *SuperStore Retail Orders* dataset
- Loading installed packages
- Inspect data
- Explore plot types

<a href="https://colab.research.google.com/github/Stan-Pugsley/is_4487_base/blob/main/Labs/Scripts/lab3_retailer_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Superstore Data Dictionary

 ORDER VARIABLES:
 - Order ID
 - Order Date
 - Order Year Month - Year and month of the order
 - Order Type - Was the order completed at a store or online? (Retail, Online)
 - Quantity - Quantity ordered for the product

 CUSTOMER VARIABLES:
 - Customer Name
 - City
 - State Province
 - Email

PRODUCT VARIABLES:
 - Product Name
 - Product Line - Category of the product (i.e. Bikes Phones)
 - Product Price - Price in US Dollars
 - Product Status - Current status of the product (Active, Inactive)

## Load Libraries

➡️ Assignment Tasks
- Load any necessary libraries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

## Import Data into Dataframe

➡️ Assignment Tasks
- Import data from the SuperStore retail dataset into a dataframe (in GitHub go to Labs > DataSets)
- Describe or profile the dataframe

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/Stan-Pugsley/is_4487_base/main/Labs/DataSets/superstore_retail_orders.csv')
df.describe()

           order_id       quantity  product_price
count  56043.000000   56004.000000   56043.000000
mean   61668.410578       3.348582    6198.309433
std     7508.142486     422.654112   35784.965255
min    45079.000000       1.000000       2.290000
25%    55644.500000       1.000000       7.950000
50%    61870.000000       1.000000     475.600000
75%    68097.000000       2.000000     914.620000
max    74147.000000  100000.000000  235481.000000

In [3]:
df.shape

(56043, 13)

In [4]:
df.head()

,order_id,order_date,order_year_month,customer_name,city,state_province,email,order_type,quantity,product_name,product_line,product_price,product_status
0,51188,2023-07-01,2023-07,Audrey Blanco,North Cherylmouth,New Hampshire,audrey_blanco@email.com,Retail,3.0,"Apple iPhone XR (Yellow, 256 GB) (Includes Ear...",Mobile,649.99,Active
1,51187,2023-07-01,2023-07,Isaac Allen,Traceyland,West Virginia,isaac_allen@email.com,Online,4.0,"Apple iPhone XR (Yellow, 256 GB) (Includes Ear...",Mobile,649.99,Active
2,51199,2023-07-02,2023-07,Ian Morgan,Dylanberg,South Dakota,ian_morgan@email.com,Online,5.0,"Apple iPhone XR (Yellow, 256 GB) (Includes Ear...",Mobile,649.99,Active
3,51241,2023-07-04,2023-07,Alexa Bell,Lake Tracytown,Wisconsin,alexa_bell@email.com,Online,1.0,"Apple iPhone XR (Yellow, 256 GB) (Includes Ear...",Mobile,649.99,Active
4,51297,2023-07-08,2023-07,Casey Diaz,Byrdchester,Mississippi,casey_diaz@email.com,Online,1.0,"Apple iPhone XR (Yellow, 256 GB) (Includes Ear...",Mobile,649.99,Active

## Prepare Data

➡️ Assignment Tasks
- Convert the Total_Amount into a number (not a string)
- Remove rows with empty (NULL) values
- Optional: Locate outliers in any of the variables.   Filter them out if they are mistakes; keep them if they are exceptional cases.

In [5]:
df.dtypes

order_id              int64
order_date           object
order_year_month     object
customer_name        object
city                 object
state_province       object
email                object
order_type           object
quantity            float64
product_name         object
product_line         object
product_price       float64
product_status       object
dtype: object

In [6]:
df['total_amount'] = (df['product_price'] * df['quantity']).round(2)
df.head()

,order_id,order_date,order_year_month,customer_name,city,state_province,email,order_type,quantity,product_name,product_line,product_price,product_status,total_amount
0,51188,2023-07-01,2023-07,Audrey Blanco,North Cherylmouth,New Hampshire,audrey_blanco@email.com,Retail,3.0,"Apple iPhone XR (Yellow, 256 GB) (Includes Ear...",Mobile,649.99,Active,1949.97
1,51187,2023-07-01,2023-07,Isaac Allen,Traceyland,West Virginia,isaac_allen@email.com,Online,4.0,"Apple iPhone XR (Yellow, 256 GB) (Includes Ear...",Mobile,649.99,Active,2599.96
2,51199,2023-07-02,2023-07,Ian Morgan,Dylanberg,South Dakota,ian_morgan@email.com,Online,5.0,"Apple iPhone XR (Yellow, 256 GB) (Includes Ear...",Mobile,649.99,Active,3249.95
3,51241,2023-07-04,2023-07,Alexa Bell,Lake Tracytown,Wisconsin,alexa_bell@email.com,Online,1.0,"Apple iPhone XR (Yellow, 256 GB) (Includes Ear...",Mobile,649.99,Active,649.99
4,51297,2023-07-08,2023-07,Casey Diaz,Byrdchester,Mississippi,casey_diaz@email.com,Online,1.0,"Apple iPhone XR (Yellow, 256 GB) (Includes Ear...",Mobile,649.99,Active,649.99

In [7]:
df = df.dropna()
df.isnull().sum()

order_id            0
order_date          0
order_year_month    0
customer_name       0
city                0
state_province      0
email               0
order_type          0
quantity            0
product_name        0
product_line        0
product_price       0
product_status      0
total_amount        0
dtype: int64

## Summarize Data

➡️ Assignment Tasks
- Display the average price per month
- Display the total revenue for all months

In [8]:
#average price
df.groupby('order_year_month')['product_price'].mean()

order_year_month
1922-06    8551.362373
2022-01    3181.047228
2022-02    3207.874423
2022-03    3249.041371
2022-04    3202.765098
2022-05    3200.611359
2022-06    3141.794532
2022-07    1968.076640
2022-08    1933.232283
2022-09    1777.429635
2022-10    1812.899776
2022-11    1683.810989
2022-12    1742.128168
2023-01    1786.883719
2023-02    1768.278000
2023-03    1773.256302
2023-04    1705.488443
2023-05    1654.495092
2023-06    1708.724806
2023-07    4299.878155
2023-08    6666.603982
2023-09    7200.036312
2023-10    6687.133811
2023-11    6810.590255
2023-12    5972.718711
2024-01    6529.830036
2024-02    6799.623306
2024-03    5878.520526
2024-04    6505.110986
2024-05    7162.478507
2024-06    6985.981653
2029-06       3.640000
2029-07    3264.913529
2029-08       6.656667
2421-09     490.580727
Name: product_price, dtype: float64

In [9]:
#total revenue
df.groupby('order_year_month')['total_amount'].sum()

order_year_month
1922-06      979636.00
2022-01     4746737.16
2022-02      500428.41
2022-03      708048.28
2022-04      653364.08
2022-05      659325.94
2022-06      637784.29
2022-07      486114.93
2022-08      533572.11
2022-09      341266.49
2022-10      404276.65
2022-11      306453.60
2022-12      560965.27
2023-01      432425.86
2023-02      459752.28
2023-03      469912.92
2023-04      492886.16
2023-05      539365.40
2023-06      529704.69
2023-07    10495300.14
2023-08    47232524.31
2023-09    50614963.75
2023-10    53117217.85
2023-11    50196883.14
2023-12    59182870.87
2024-01    57744443.81
2024-02    57700422.24
2024-03    57460241.29
2024-04    63213208.20
2024-05    73469869.94
2024-06    67964592.02
2029-06          19.55
2029-07      517505.48
2029-08          39.94
2421-09       32051.29
Name: total_amount, dtype: float64